body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f4f4f9;
}

.App {
	text-align: center;
}

.home-page {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-form {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

input,
textarea,
select,
button {
	margin: 5px 0;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	cursor: pointer;
}

.task-list-container {
	overflow-x: auto;
}

.task-list {
	width: 100%;
	border-collapse: collapse;
}

.task-list th,
.task-list td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.task-list th {
	background-color: #f8f9fa;
}

.task-item td {
	border: 1px solid #ccc;
	border-radius: 5px;
}

.edit-button {
	background-color: #ffc107;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	margin-right: 5px;
}

.delete-button {
	background-color: #dc3545;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
}

.add-task-button {
	background-color: #28a745;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	margin-top: 10px;
	transition: background-color 0.3s ease;
}

.add-task-button:hover {
	background-color: #218838;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.profile-button {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.sign-in-button {
	background-color: #5f6368;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.sign-in-button:hover {
	background-color: #3c4043;
}