/* Main styles for the application */

body {
	font-family: 'Playwrite NZ', cursive;
	background: linear-gradient(#f9f6d9 150px, transparent 150px) left / 100% 100%, repeating-linear-gradient(#837575 0, #837575 1px, #f9f6d9 1px, #f9f6d9 40px) left / 100% 100%;
	background-attachment: scroll;
	background-color: #f9f6d9;
	min-height: 100vh;
	display: grid;
}

body::before {
	content: '';
	position: absolute;
	top: 0;
	left: 200px;
	width: 2px;
	height: 100%;
	background-color: #e74c3c;
	z-index: 1;
}

.app-container {
	display: flex;
	flex-direction: column;
	z-index: 2;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 44px;
	position: relative;
	width: 100%;
	padding: 12px 0px;
	box-sizing: border-box;
}

.date-container {
	font-family: 'Playwrite NZ', cursive;
	color: #000;
	margin-top: 19px;
	flex: 1;
	font-size: 18px;
	margin-left: 12px;
}

.header-title {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	font-size: 40px;
}

.sign-in-button {
	background-color: transparent;
	color: #000;
	font-family: 'Playwrite NZ', cursive;
	border: none;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	margin-top: 17px;
	margin-right: 60px;
	font-size: 20px;
	cursor: pointer;

	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}
}

.filter-container {
	display: flex;
	align-items: center;
    position: absolute;
	top: 86px;
	left: 6px;
}

.filter-container label {
    margin-right: 12px;
}

.filter-container select {
    border-radius: 4px;
}

.task-list-container {
	width: 85%;
	margin-top: 56px;
	padding-left: 150px;
}

.task-list {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

.task-list thead {
	font-size: 20px;
	border-bottom: 6px solid transparent;
}

.task-list th.title {
	width: 30%;
}

.task-list th.description {
	width: 50%;
}

.task-list th.status {
	width: 20%;
}

.task-list tbody {
	font-size: 16px;
}

.task-item {
	border-bottom: 7px solid transparent;

	&:editing {
		background-color: #e0f7fa;
	}
}

.task-item-editing input, select {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	border: transparent;
	font-size: 16px;
	font-family: 'Playwrite NZ', cursive;
}

.task-edit-button {
	padding-right: 36px;
	vertical-align: middle;
	text-align: center;
}

.task-edit-button button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-family: 'Playwrite NZ', cursive;
	font-size: 14px;
	text-decoration: underline;
	transition: color 0.3s ease;
	border-radius: 5px;

	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}
}

@media (max-width: 600px) {
	.header-container {
		margin-top: 20px;
		padding: 6px 0px;
	}

	.date-container {
		font-size: 14px;
		margin-left: 6px;
		word-break: break-word;
	}

	.header-title {
		font-size: 28px;
	}

	.sign-in-button {
		font-size: 16px;
		margin-right: 30px;
	}

	.task-list th.title,
	.task-list th.description,
	.task-list th.status {
		font-size: 16px;
	}
}